.contact-info-container1 {
  display: contents;
}
 
.contact-info-thq-contact-info-text-group-elm2 {
  width: 100%;
  max-width: 288px;
}
 
.contact-info-thq-contact-info-value-elm3 {
  width: 100%;
  max-width: 258px;
}
 
.contact-info-container2 {
  display: none;
}
 
.contact-info-container3 {
  display: contents;
}
 
.contact-info-container4 {
  display: none;
}
 
.contact-info-container5 {
  display: contents;
}
