.cosmetic-consultation-container1 {
  width: 100%;
  min-height: 100vh;
}
 
.cosmetic-consultation-text2 {
  font-weight: 700;
}
 
.cosmetic-consultation-text4 {
  font-weight: 700;
}
 
.cosmetic-consultation-container2 {
  display: none;
}
 
.cosmetic-consultation-container3 {
  display: contents;
}
